.menu {
    padding: 40px 0 40px 40px;
    background: #f4f3f4;
    position: relative;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, [col] 80px);
    grid-template-rows: repeat(3, [row] auto);
    grid-gap: 40px;
    width: fit-content;

    &:has(.active) .menu__item:not(:first-child) {
        animation: scaleUp 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
        animation-delay: .15s;
    }
}

.menu__item {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: var(--background-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    scale: var(--scale);
    opacity: var(--opacity);
    transform: translate(calc(var(--translate-x)*1px), calc(var(--translate-y) * 1px));
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    overflow: hidden;

    &:not(:first-child) {
        --scale: 0;
        --opacity: 0;
        transition: transform .15s ease-in-out, background-position .15s ease-out;

        span {
            position: absolute;
            top: 100%;
            opacity: 0;
            transition: all .15s ease;
            font: 400 14px/1.2 sans-serif;
        }

        &:hover {
            background-position: center 30%;

            span {
                top: 65%;
                opacity: 1;
            }
        }
    }

    &:first-child {
        grid-column: col 2 / span 2;
        grid-row: row 2;
        transition: opacity .15s ease-out, transform .15s ease-out;
        background-image: url('../assets/icons/hamburger.svg');

        &:focus,
        &:active,
        &.active {
            --opacity: 0.4;
            --scale: 1.1;
        }
    }

    &:nth-child(2) {
        grid-column: col 2 / span 2;
        grid-row: row;
        background-image: url('../assets/icons/plus.svg');

        &:hover {
            --translate-y: -10;
        }
    }

    &:nth-child(3) {
        grid-column: col 3 / span 2;
        grid-row: row 2;
        background-image: url('../assets/icons/help.svg');

        &:hover {
            --translate-x: 10;
        }
    }

    &:nth-child(4) {
        grid-column: col 1 / span 2;
        grid-row: row 2;
        background-image: url('../assets/icons/download.svg');

        &:hover {
            --translate-x: -10;
        }
    }

    &:nth-child(5) {
        grid-column: col 2 / span 2;
        grid-row: row 3;
        background-image: url('../assets/icons/library.svg');

        &:hover {
            --translate-y: 10;
        }
    }
}

@keyframes scaleUp {
    from {
        --scale: 0.4;
        --opacity: 0;
    }

    to {
        --scale: 1;
        --opacity: 1;
    }
}